<<<<<<< HEAD
{#<nav >
    <a href="#home">GSB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div >
        <ul >
            <li >
                <a ><i class="far fa-edit"></i> Saisie des Frais</a>
            </li>
            <li >
                <a ></a>
            </li>
            <li >
                <a  href=""><i class="far fa-calendar-alt"></i>Historique</a>
            </li>
        </ul>
        <ul >
            <li >
                <a  href="#" ><i class="far fa-user"></i>
                    { app.session.get('nom') }} {{ app.session.get('prenom') }}
                </a>
                <div >
                    <a href="">Informations personnel</a>
                    <a href="">Modifier Mot de Passe</a>
                    <a href="">Se déconnecter</a>
                </div>
            </li>
        </ul>
    </div>
</nav>#}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">GSB</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <ul id="left">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user">{{ app.session.get('nom') }} {{ app.session.get('prenom') }} </i> 
        </a>
        </li>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Informations personnel</a>
          <a class="dropdown-item" href="#">Modifier Mot de Passe</a>
          <a class="dropdown-item" href="#">Se déconnecter</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

{% block title %}
 Visiteur 
=======
{% extends "base.html.twig" %}
{% block menu %}
    <style>
        body{
            background-image: url({{ asset('img/b13.jpeg') }});
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        
    </style>
    
    <div style="margin-top: 15px">    
        <center>
            <style>
                .imgnav {
                    border-radius: 25%;
                }
                
                
                .imgnav:hover {
                        -webkit-transform: scaleX(-1);
                         transform: scaleX(-1);
                        }
                
            </style>
           
            
            <a  href="{{ path('CompteComptable') }}">
                <img class="imgnav" src="{{ asset('img/logo.png') }}" width="100" >
            </a>
        </center>
    </div>
    <br/>
    
>>>>>>> gsb/master
{% endblock %}
{% block nav %}
    <div>
        
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('CompteVisiteur') }}">GSB<span class="sr-only">(current)</span></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('SaisirNouveauFrais') }}">Frais Nouveau</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ConsultFrais') }}">Frais Consulter</a>
                    </li>
                </ul>
            </div>
            <h4 style="color: white;font-family: Times, Times New Roman, serif">{{ app.session.get('user_nom') }} {{ app.session.get('user_prenom') }}  </h4>         
            <div style="float: right;margin-left: 10px">
                <a class="btn btn-outline-danger" type="button" href="{{ path('deconnexionCompteVisiteur') }}"><i class="fas fa-sign-out-alt"></i>Déconnexion</a>
            </div>
        </nav>
            
    </div>

<<<<<<< HEAD
{% endblock %}
=======
    {% endblock %}
>>>>>>> gsb/master
