{% block title %}
    Saisir Nouveau Frais
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                {% block menu %}
                    <div class="container-fluid">
                        <div class ='row'>
                            <nav class="col-sm hidden-xs-down bg-faded sidebar">
                                <div id="navLateral">
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item" >
                                            <a class="nav-link" href="{{ path('gsb_profil_homepage') }}">Menu<i class="fas fa-angle-left"></i></a>
                                        </li>
                                    </ul>
                                    <hr>

                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{{ path('gsb_profil_saisie_frais') }}">Saisie des frais<span class="sr-only">(current)</span><i class="far fa-edit"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Fiche du mois <i class="fas fa-book"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Historique</a>
                                        </li>
                                    </ul>

                                    <hr>

                                    <ul class="nav nav-pills flex-column">

                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Changer de mot de passe <i class="fas fa-key"></i></a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Se déconnecter <i class="fas fa-power-off"></i></a>

                                        </li>
                                    </ul>

                                </div>
                            </nav>
                        </div>
                    </div>
                {% endblock menu %}
            </div>
{##}

            {# formulaire au millieur de la page #}
            <div class="col-sm">
                {% block contenu %}
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container-fluid">
                            {#{{ form_start(form) }}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            {# form.1 = Forfait Etape (nuit et repas)#}
                                            {{ form_row(form.1) }}
                                        </div>
                                        <div class="col">
                                            {# form.2 = frais km#}
                                            {{ form_row(form.2) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            {# form.3 = Nuitée Hotel#}
                                            {{ form_row(form.3) }}
                                        </div>
                                        <div class="col">
                                            {# form.4 = repas restaurant#}
                                            {{ form_row(form.4) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(form.save) }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(form.cancel) }}
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                        #}
                    </div>

                {% endblock contenu %}
            </div>
            {# affichage sur le côté droit de la page#}
            <div class="col-sm-4 col-md-3">
                {% block affichage %}
                {% endblock affichage %}
            </div>
        </div>
    </div>
{% endblock %}