{% extends "base.html.twig" %}
{% form_theme formVisiteur 'bootstrap_4_layout.html.twig' %}
{% block title %}
Connexion Visiteur 
{% endblock %}
    {% block stylesheets %} <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet" />{% endblock %}
   

{% block body %}
    

<center>
    <div class="well">
    <h1> Connexion Visiteur</h1>

    <div class="col-8">
    {% if erreur == true %}
    	<div class="alert alert-dismissible alert-success">
    		<button type="button" class="close" data-dismiss="alert">&times;</button>
    		<strong>ERREUR Authentification!</strong>
    	</div>
    {% endif %}
    </div>
    
    {{ form_start(formVisiteur) }}

    {{ form_row(formVisiteur.login, {'attr': {'placeholder': "Login"} }) }}
    {{ form_row(formVisiteur.mdp, {'label': "Mot de passe",'attr': {'placeholder': "****"} }) }}
    <button type="submit" class="btn btn-success">Se connecter</button>
    <button class="btn btn"><a href="{{ path('index')}}">Retour</a></button>
    {{ form_end(formVisiteur) }}

    </div>
</center>
{% endblock %}
